Flask==2.3.3
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
Flask-Bcrypt==1.0.1
Flask-WTF==1.2.1
psycopg2-binary
reportlab==4.0.9
Pillow
python-dotenv==1.0.0
gunicorn==21.2.0
requests==2.32.5
google-genai
feedparser
yt-dlp
beautifulsoup4
youtube-transcript-api
